<nav>
  <button (click)="navigate_to('alto')">
    <mat-icon svgIcon="alto"></mat-icon>
  </button>
  <button (click)="navigate_to('arco')">
    <mat-icon svgIcon="arco"></mat-icon>
  </button>
  <button (click)="navigate_to('freccette')">
    <mat-icon svgIcon="freccette"></mat-icon>
  </button>
  <button (click)="navigate_to('lungo')">
    <mat-icon svgIcon="lungo"></mat-icon>
  </button>
  <button (click)="navigate_to('mezzofondo')">
    <mat-icon svgIcon="mezzofondo"></mat-icon>
  </button>
  <button (click)="navigate_to('peso')">
    <mat-icon svgIcon="peso"></mat-icon>
  </button>
  <button (click)="navigate_to('staffetta')">
    <mat-icon svgIcon="staffetta"></mat-icon>
  </button>
  <button (click)="navigate_to('velocita')">
    <mat-icon svgIcon="velocita"></mat-icon>
  </button>
  <button (click)="navigate_to('vortex')">
    <mat-icon svgIcon="vortex"></mat-icon>
  </button>
</nav>
